<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Vote</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="../css/vote.css">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../js/vote.js"></script>

</head>
<body>
<div id="pollTitle">Next on screen</div>
<div id="pollContainer">
    <div id="pollSection">
        <div id="pollButtons">

            <input type="radio" class="pollRadio" name="icc_options" id="afg" value="afg"/>
            <label id="first" class="pollButton" for="afg">
                <span class="pollLogo afg"></span>
                <span class="name">Afghanistan</span>
                <span class="result"></span>
                <span class="fa-stack fa-4x">
                        <i class="fa fa-check fa-stack-2x text-primary"></i>
                </span>
            </label>

            <input type="radio" class="pollRadio" name="icc_options" id="aus" value="aus"/>
            <label class="pollButton" for="aus">
                <span class="pollLogo aus"></span>
                <span class="name">Australia</span>
                <span class="result"></span>
            </label>

            <input type="radio" class="pollRadio" name="icc_options" id="ban" value="ban"/>
            <label class="pollButton" for="ban">
                <span class="pollLogo ban"></span>
                <span class="name">Bangladesh</span>
                <span class="result"></span>
            </label>

            <input type="radio" class="pollRadio" name="icc_options" id="eng" value="eng"/>
            <label class="pollButton" for="eng">
                <span class="pollLogo eng"></span>
                <span class="name">England</span>
                <span class="result"></span>
            </label>

            <input type="radio" class="pollRadio" name="icc_options" id="ind" value="ind"/>
            <label class="pollButton" for="ind">
                <span class="pollLogo ind"></span>
                <span class="name">India</span>
                <span class="result"></span>
            </label>
        </div>
        <br/>
        <button target="_blank" id="pollVote">VOTE</button>
    </div>

    <div id="resultSection">
        <div id="resultBars"></div>
    </div>
</div>
</body>
</html>